@import "https://fonts.googleapis.com/css?family=Open+Sans|Roboto";

* {
    margin: 0;
    padding: 0;
}

.container {
    font-family:  'Roboto', sans-serif;
    text-align: center;
}

.header {
    background: #eee;
    height: 5rem;
}

.item-container {
    width: 95%;
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item {
    position: relative;
    width: 25%;
    margin: 1.5rem 1%;
    padding: .5rem;
    margin-bottom: 5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    transition: all .5s ease-in-out;
}

.item:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}


.popup {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f25;
    padding: 5%;
    cursor: pointer;
}

.item:hover>.popup {
    display: inline;
    animation: showUp 1s ease-in-out;
}


.item img {
    display: inline-block;
    width: 100%;
    height: 250px;
}

.detail {
    color: rgba(0, 0, 0, 0.6);
    height: 55px;
    display: flex;
    margin: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    justify-content: space-around;
}

span {
    display: inline-block;
    padding-top: 1rem;
    font-size: 1.2rem;
    text-align: center;
    text-transform: capitalize;
}

.price {
    width: 40%;
}

.price::before {
    content: "$"
}

.name {
    width: 60%;
}

@keyframes showUp {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}