@import "https://fonts.googleapis.com/css?family=Open+Sans|Roboto";

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    font-family:  'Roboto', sans-serif;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.836);
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background: #fff;
    padding: 1.5rem 0;
    box-shadow: 0px 5px 15px rgba(138, 233, 30, 0.712);
}

.header h1 {
    color: rgba(0, 0, 0, 0.8);
}

.cart {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
}

.cart-btn {
    position: absolute;
    right: .8rem;
    bottom: 1rem;
    padding: 0.5rem;
    color: rgb(255, 255, 255);
    background: rgb(55, 255, 0);
}

.btn {
    width: 10%;
    margin-top: 2rem;
    margin-left: 20%;
    color: rgb(255, 255, 255);
    background: rgb(55, 255, 0);
    border: none;
}

.btn-link {
    display: block;
    padding: 0.5rem;
    text-align: center;
}

table {
    width: 50%;
    margin: 0 auto;
    border-spacing: 0;    
    box-shadow: 0px 0px 10px 0px  rgba(63, 63, 63, 0.623);
}

th {
    padding: 0.8rem;
    border-bottom: 1px solid rgba(63, 63, 63, 0.623);
}

tr {
    padding: 1rem;

}

td {
    border-bottom: 2px solid rgba(172, 172, 172, 0.842);
    text-align: center;
}

tbody img {
    display: block;
    width: 60px;
    height: 60px;
    margin: 5px auto;
    border-radius: 100%;
}

tbody tr {
    transition: all .35s ease-in-out;
    color: rgba(0, 0, 0, 0.8);
}

tbody tr:hover {
    background: rgba(190, 245, 138, .85);
    cursor: pointer;
}

tbody button {
    outline: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
    padding: 8px 15px;
    border: none;
    border-radius: 48rem;
    background-color: rgb(255, 94, 94);
}

.item-container {
    width: 95%;
    margin: 1rem auto;
    padding-top: 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item {
    display: block;
    position: relative;
    width: 20%;
    margin: 1.5rem 1%;
    padding: .5rem;
    margin-bottom: 5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    transition: all .5s ease-in-out;
}

.item:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.item:active {
    box-shadow: none;
    transform: translateY(5px);
}

.popup {
    position: absolute;
    top: .5rem;
    left: -100%;
    background-color: #f25;
    padding: 5%;
    cursor: pointer;
    transition: left 0.25s ease-in-out;
}

.item:hover>.popup {
    left: .5rem;    
}


.item img {
    display: inline-block;
    width: 100%;
    height: 10rem;
}

.detail {
    color: rgba(0, 0, 0, 0.6);
    height: 55px;
    display: flex;
    margin: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    justify-content: space-around;
}

span {
    display: inline-block;
    padding-top: 1rem;
    font-size: 1.2rem;
    text-align: center;
    text-transform: capitalize;
}

.price {
    width: 40%;
}

.price::before {
    content: "$"
}

.name {
    width: 60%;
}

